@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Karla');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Fascinate+Inline');

* {

}

body {
	margin: 0px;
	background-color: #24323F;
	color: white;
	font-family: Josefin Sans, sans serif;
}


.red { color: #E4614A;}
.orange { color: #F39320;}
.yellow { color: #F4BE47;}
.green { color: #3AA75E;}
.blue { color: #358CC1;}
.purple { color: #A67FB9;}

.titlebox {
	width: 100%;
	height: 80%;
	display: table;
	position: absolute;
	background-image: url("image.jpg");
	background-attachment: fixed;
	padding-top: 100px;
	padding-bottom: 100px;
}

.titlemain {
	display: table-cell;
	color: orange;
	font-size: 30pt;
	font-family: Abril Fatface, sans serif;
	vertical-align: middle;
	horizontal-align: middle;
	text-align: center;
}

.spacer {
	width: 100%;
	height: 700px;
	margin-bottom: 20%;
}

.mainimg {
	height: 25%;
	width: 25%;
	margin-bottom: 5%;
	margin-left: 38%;
}

.iconimg {
	width: 50px;
	height: 50px;
	float: left;
	margin-left: 25px;
	position: absolute;
}

.topbar {
	width: 100%;
	height: 5%;
}

ul {
	list-style-type: none;
	width: 90%;
	margin: 0;
	padding: 0;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 80px;
	overflow: hidden;
	background-color: transparent;
}

li {
	float: left;
	width: 10vh;
	text-align: center;
}

li a {
	display: block;
	color: white;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
    	-webkit-transition-duration:all ease 0.4s;
   	transition:all ease 0.4s;
}

li a:hover {
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	color: white;
}
